set_var EASYRSA_REQ_COUNTRY	"{{ rsa_country }}"
set_var EASYRSA_REQ_PROVINCE	"{{ rsa_province }}"
set_var EASYRSA_REQ_CITY	"{{ rsa_city }}"
set_var EASYRSA_REQ_ORG	"{{ rsa_org }}"
set_var EASYRSA_REQ_EMAIL	"{{ rsa_email }}"

set_var EASYRSA_ALGO		ec
set_var EASYRSA_DIGEST		"sha512"